@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
  margin: 0;
  background: #ff8800;
  /* font-family: roboto; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bg:  #242526;
  --bg-accent: #484a4d;
  --text-color: #e1e0da;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms; 
}

.navbar-top {
  display: flex;
  justify-content: flex-start;
  background: black;
  height: 60px;
  align-items: center;
}

.navbar-top-menu-icon {
  margin-left: 2rem;
  font-size: 2rem;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-top-end {
  margin-left: auto;
  order: 2;
}

.navbar-top-end-link {
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  list-style: none;
  height: 20px;
  text-decoration: none;
  font-size: 18px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.navbar-top-end-link:hover {
  background: rgb(51, 29, 1);
  border-color: orangered;
}

.sidebar-nav{
  background: black;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 10;
  left: -100%;
  transition: left 350ms ease-in;
}

.sidebar-nav.open {
  left: 0;
  transition: left 350ms ease-out;
  overflow-y: scroll;
}

.sidebar-nav::-webkit-scrollbar {
  width: 10px;
  display: none;
}

.sidebar-nav-wrapper {
  width: 100%;
}

.sidebar-link {
  display: flex;
  color: darkmagenta;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  list-style: none;
  height: 20px;
  text-decoration: none;
  font-size: 18px;
  border-left: 2px solid transparent;
  cursor: pointer;
}

.sidebar-link:hover {
  background: rgb(51, 29, 1);
  border-color: orangered;
}

.sidebar-link-label{
  color: white;
  margin-left: 12px;
}

.submenu.sidebar-link{
  margin-left: 30px;
  background: rgba(24, 24, 24, 0.75);
} 

.submenu.sidebar-link:hover {
  background: rgb(51, 29, 1);
  border-color: orangered;
}

.registration-block {
  height: 300px;
  width: 50vw;
  max-width: 500px;
  /* border: 2px solid #474a4d; */
  border-radius: 10px;
  margin: auto;
  margin-top: 25px;
}

.reg-form-errors{
  background-color: rgba(0, 0, 0, 0.85);
  padding: 5px;
  color: red;
  margin-bottom: 10px;
  border-radius: 10px;
}

.reg-form-errors p {  
  font-weight: bolder;
  font-style: italic;
  margin: 2px;
  padding-left: 20px;
}